# ==============================
# 🚀 Build / Maven / Java
# ==============================
HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# ==============================
# 🧩 IDEs (Eclipse, IntelliJ, VSCode)
# ==============================
### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

# ==============================
# ⚙️ Sistema / Logs / Temp
# ==============================
*.log
*.tmp
*.bak
*.swp
*.swo

# ==============================
# 🐳 Docker / Ambiente
# ==============================
.env
docker-compose.override.yml

# ==============================
# 💾 Banco local / Volume
# ==============================
postgres_data/

# ==============================
# 🌐 Frontend / Public assets
# ==============================
# Inclui a pasta public no versionamento
!public/
